# Ignore files
*.ipynb
*.txt
*.pyc
*.pth

# Include files
!train.ipynb
!sample_from_model.ipynb
!01 Harry Potter and the Sorcerers Stone.txt
!augmented_hp_1.txt
!hp_model_cl_256_ed_384_nh_6_nb_6_bs_64_dr_0.2_lr_3e-4_max_iters_5000.pth